<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Twotter", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path %></li>
        <li><%= link_to "投稿一覧", '#' %></li>
      </ul>
    </nav>
  </div>
</header>